{% extends "base.html" %}

{% block content %}
<h1 class="title">
Game
</h1>

<style>
.list-group{
max-height: 200px;
overflow: scroll;
}
</style>

<div>
	<h1> {{ character.characterName }} </h1>
	<p>Money : {{ character.money }} </p>
	<p>Sanity : {{ character.sanity }} </p>
	<p>Energy : {{ character.energy }} </p>
	<p>Grades : {{ character.grades }} </p>
	<p>Progress : {{ character.progress }} </p>
</div>


	<ul class="list-group">
	{% for r in records %}
	<li class="list-group-item list-group-item-secondary"> {{ r.event }} </li>
	{% endfor %}
	</ul>


<div>
	<a type="button" class="btn btn-secondary" href="{{url_for('core.coffee')}}">Buy Coffee</a>  
	<a type="button" class="btn btn-secondary" href="{{url_for('core.nap')}}">Allow Nap</a>  
	<a type="button" class="btn btn-secondary" href="{{url_for('core.research')}}">Drive Uber</a>  
	<a type="button" class="btn btn-secondary" href="{{url_for('core.uber')}}">Research</a>  
	<a type="button" class="btn btn-secondary" href="{{url_for('core.beer')}}">Buy Beer</a>  
	<a type="button" class="btn btn-secondary" href="{{url_for('core.study')}}">Study</a>  
	
</div>
{% endblock %}
